subscription_id            = "00000000-0000-0000-0000-000000000000"
location                   = "Central India"
resource_group_name        = "expenseflow-tfstate-rg"
storage_account_name_prefix = "expenseflowtf"
container_name             = "tfstate"
